{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %} {% bootstrap_css %}
    
    <link rel="stylesheet" href="{% static '/css/details.css' %}">
   
    {% endblock %}
</head>
<body>

    <section class="gallery-block cards-gallery">
        <div class="container">
            
            <div class="row">
                <div class="container-fluid">
                    <div class="card border-0 transform-on-hover">
                        <a class="lightbox" href=""><img [src]="image1" class="card-img-top" width="50%" height="50%"></a>
                        <div class="card-body">
                            <h6>Lorem Ipsum</h6>
                            <p class="text-muted card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna.</p>
                        </div>

                        
                    </div>
                </div>
                <div class="container">
                    <form role="add_comment" action= "">
                      
                      <div class="fal fa-comment">
                          <input type="text" class="form-control" placeholder="Add a comment" name="comment"
                              style="font-size: 1.2rem; border: 0;">
                          <div class="input-group-btn">
                            <button style="font-size: 1.2rem;" type="submit" class="btn btn-dark">Comment</button>
                          </div>
                      </div>
                    </form>
                    <br>
                    <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small>3 days ago</small>
                          </div>
                          <p class="mb-1">Some placeholder content in a paragraph.</p>
                          <small>And some small print.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                          </div>
                          <p class="mb-1">Some placeholder content in a paragraph.</p>
                          <small class="text-muted">And some muted small print.</small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                          </div>
                          <p class="mb-1">Some placeholder content in a paragraph.</p>
                          <small class="text-muted">And some muted small print.</small>
                        </a>
                      </div>
                </div>
                
               
            </div>
            
            
            
        </div>
    </section>

</body>
</html>
